body{
background: #FBF8F1;
font-family: 'Rubik', sans-serif;
}





/*.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.links{
	margin-top: 100px;
	padding: 20px;
	/*background: #F7ECDE;*/
}
.letra{
	padding: 3px;
	color: #999;
	text-align: center;
	font-size: 15px;
	font-weight: 300;
}
.yt{
	margin-top: 100px;
	text-align: center;
}
footer{
	/*background: #F7ECDE;*/
	width: 100%;
}
footer span{
	margin-top: 100px;
	float: right;
	padding: 5px;
	/*background-color: #F7ECDE;*/
}
hr{
	opacity: 0.1;
	margin-top: 100px;
}

